﻿@model EFinal.Web.Funcionalidades.EditarEmpresa.ObtenerEmpresaViewModel

<div id="PermisoContainer">

    @using (Html.BeginForm("EliminarConfirmacion", "Empresa", FormMethod.Post,

                                                             new
                                                             {
                                                                 id = "EmpresaEditForm",
                                                                 @class = "form-horizontal",
                                                                 role = "form"
                                                             }
                                                             ))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4>Eliminar @Model.StrRazonSocial</h4>
                </div>


                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.StrRUC, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.ValueFor(model => model.StrRUC)
                            @Html.HiddenFor(model => model.StrRUC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StrRUC, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StrRazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrRazonSocial)
                           @* @Html.ValidationMessageFor(model => model.StrRazonSocial, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StrDireccion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrDireccion)
                            @*@Html.ValidationMessageFor(model => model.StrDireccion, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StrDepartamento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrDepartamento)
                            @*@Html.ValidationMessageFor(model => model.StrDepartamento, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StrProvincia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrProvincia)
                           @* @Html.ValidationMessageFor(model => model.StrProvincia, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StrDistrito, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrDistrito)
                            @*@Html.ValidationMessageFor(model => model.StrDistrito, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StrRubro, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StrRubro)
                            @*@Html.ValidationMessageFor(model => model.StrRubro, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>*@
                </div>

                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Eliminar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
