﻿@model IEnumerable<EFinal.Web.Funcionalidades.ListarEmpresas.ListarEmpresaViewModel>


<div id="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrRUC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrRazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrDistrito)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StrProvincia)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StrRUC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrRazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrDireccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrDepartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrDistrito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrProvincia)
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-xs"
                                data-toggle="dropdown">
                            <span>
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="caret"></span>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                @Ajax.ActionLink("Editar", "Editar", "Empresa"
                   , new { id = item.StrRUC }
                   , new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "EditarEmpresaForm"
                   }
                   ,
                   new
                   {
                       @class = " glyphicon glyphicon-edit",
                       data_toggle = "modal",
                       data_target = "#EditarEmpresaForm"
                   }
                   )
                            </li>
                           
                                <li>
                                    @Ajax.ActionLink("Eliminar", "Eliminar", "Empresa"
                   , new { id = item.StrRUC }
                   , new AjaxOptions
                   {
                       HttpMethod = "Get",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "EliminarEmpresaForm"
                   }
                   ,
                   new
                   {
                       @class = " glyphicon glyphicon-edit",
                       data_toggle = "modal",
                       data_target = "#EliminarEmpresaForm"
                   }
                   )
                                   @* @Html.ActionLink("Eliminar", "Eliminar","Empresa", new { id = item.StrRUC }, new { @class = "glyphicon glyphicon-eye-open" })*@
                                </li>

                            <li>
                                @Ajax.ActionLink("Registrar Factura", "Registrar", "Factura"
                   , new { ruc = item.StrRUC }
                   , null
                   ,null                  
                   )
                                @* @Html.ActionLink("Eliminar", "Eliminar","Empresa", new { id = item.StrRUC }, new { @class = "glyphicon glyphicon-eye-open" })*@
                            </li>
                            <li>
                                @Ajax.ActionLink("Listado de Factura", "Listar", "Factura"
                   , new { ruc = item.StrRUC }
                   , null
                   , null
                   )
                                @* @Html.ActionLink("Eliminar", "Eliminar","Empresa", new { id = item.StrRUC }, new { @class = "glyphicon glyphicon-eye-open" })*@
                            </li>

                        </ul>
                    </div>                 
                </td>
            </tr>
        }

    </table>
</div>