﻿@model EFinal.Web.Funcionalidades.EditarEmpresa.EditarEmpresaViewModel

@{
    ViewBag.Title = "Error";
}

<div>
     <h4 style="color:red">NO SE PUEDE ELIMINAR TIENE FACTURAS RELACIONADAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StrRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrRazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrRazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrRubro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrRubro)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Regresar al Listado", "Listar")
</p>
