﻿@model EFinal.Web.Funcionalidades.ListarEmpresas.FiltrarEmpresasViewModel

@{
    ViewBag.Title = "Listar Empresas por Usuario";
}

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @Ajax.ActionLink("Agregar Nueva Empresa", "Registrar", "Empresa",null,null,null
                   //, null
                   //, new AjaxOptions
                   //{
                   //    HttpMethod = "Get",
                   //    InsertionMode = InsertionMode.Replace,
                   //    UpdateTargetId = "RegistrarEmpresaForm"
                   //}
                   //,
                   //new
                   //{
                   //    @class = "glyphicon glyphicon-plus",
                   //    data_toggle = "modal",
                   //    data_target = "#RegistrarEmpresaForm"
                   //}
                   )
</p>


@using (Ajax.BeginForm("FiltrarporUsuario", "Empresas",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Get",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "ResultadoFiltro",

                                        },
                                        new
                                        {

                                            id = "FiltrarEmpresas",
                                            @class = "form-inline"
                                        }
                                        ))
{
    <div class="form-group col-sm-10 col-lg-10 col-xs-10 col-md-10">
        <input type="hidden"  placeholder="Buscar por Razón Social."
               name="Filtro" value="@Model.Filtro"
               class="form-control" />
    </div>
    @*<input type="submit" value="Filtrar..." class="btn btn-success" />*@
}


<div id="ResultadoFiltro">
    @if (Model.Empresas.Count() > 0)
    {
        @Html.Partial("_LstEmpresasEncontradas", Model.Empresas)
    }
</div>

<div id="EditarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EditarEmpresalabel"
     aria-hidden="true">
</div>

<div id="EliminarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="EliminarEmpresalabel"
     aria-hidden="true">
</div>

<div id="RegistrarEmpresaForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="RegistrarEmpresalabel"
     aria-hidden="true">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}