﻿@model IEnumerable<EFinal.Web.Funcionalidades.ListarFactura.ListarFacturaViewModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IntIdRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrNumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtFechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtFechaVcto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtFechaCobro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DcTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DcImpuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrRUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrRazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrNombreArchivoFactura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IntIdRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrNumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtFechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtFechaVcto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtFechaCobro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DcTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DcImpuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrRUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrRazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrNombreArchivoFactura)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new {  id=item.IntIdRegistro  }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Eliminar", "Eliminar", new {  id=item.IntIdRegistro })
        </td>
    </tr>
}

</table>
