﻿@model EFinal.Web.Funcionalidades.AnularFactura.AnularFacturaViewModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Desea Eliminar la Factura?</h3>
<div>
    <h4>AnularFacturaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IntIdRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntIdRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtFechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtFechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtFechaVcto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtFechaVcto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtFechaCobro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtFechaCobro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DcTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DcTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DcImpuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DcImpuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrRSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrRSocial)
        </dd>

    </dl>

    @*@using (Html.BeginForm("ConfirmarEliminar", "Factura", FormMethod.Post, new { id = Model.IntIdRegistro }))
    {*@
        @using (Html.BeginForm()) { 
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Listar","Factura")
        </div>
    }
</div>
